<section class="container">
    <h2>Descrubra novos universos</h2>
    <div class="catalog">
        <div class="catalog-items">
            <img class="contents__image" src="assets/images/hbo-default_0.webp" alt="HBO">
        </div>
        <div class="catalog-items">
            <img class="contents__image" src="assets/images/MAX-Default.webp" alt="Max Originals">
        </div>
        <div class="catalog-items">
            <img class="contents__image" src="assets/images/DC_Default.webp" alt="DC">
        </div>
        <div class="catalog-items">
            <img class="contents__image" src="assets/images/WB-Default.webp" alt="Warner Bross">
        </div>
        <div class="catalog-items">
            <img class="contents__image" src="assets/images/CN-Default.webp" alt="Cartoon Network">
        </div>
        <div class="catalog-items">
            <img class="contents__image" src="assets/images/UCL-Default.webp" alt="UEFA Champions League">
        </div>
    </div>
</section>