<header class="header">
    <section class="header__content">
        <div class="header__channels">
            <img class="header__channel" src="/assets/images/hbo.png" alt="channel">
            <img class="header__channel" src="/assets/images/dc.png" alt="channel">
            <img class="header__channel" src="/assets/images/wb.png" alt="channel">
            <img class="header__channel" src="/assets/images/cartoon-network_neutral.png" alt="channel">
            <img class="header__channel" src="/assets/images/max_originals.png" alt="channel">
        </div>
        <h1 class="header__title">
            <span>Curta as melhores histórias</span>
            Para todo mundo
        </h1>
        <div class="divider"></div>
        <div class="offer">
            <p>Assinaturas a partir de</p>
            <h1>R$14,15 <span>/mês*</span></h1>
        </div>
        <button class="header__button button--gradient">Assine Agora</button>
        <span class="text__small">*aplicável ao plano anual com o pagamento antecipado</span>
    </section>
</header>